aenum
annotated-types
anyio
asttokens
attrs
bitarray
certifi
charset-normalizer
colorama
comm
contourpy
coverage
cycler
debugpy
decorator
distro
dnspython
executing
fonttools
h11
httpcore
httpx
idna
ipython
jedi
Jinja2
jiter
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
openai
opencv-python
packaging
parso
pillow
platformdirs
project-generator
project-generator-definitions
prompt-toolkit
psutil
pure-eval
pyais
pyasn1
pydantic
pydantic_core
Pygments
pymongo
pyparsing
pyproj
PySimpleGUI
python-dateutil
python-dotenv
python-telegram-bot
pyzmq
requests
rsa
serpapi
six
sniffio
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
xmltodict